<div class="row-justify-content">
  <h2><%= "#{@title}" %> persona</h2>
</div>
<% if @person.errors.any? %>
  <div class=row>
    <div class="col-sm-8">
      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg.to_s %></li> 
        <% end %>
      </ul>
    </div>
  </div>
<% end %>


<div class=row>
  <div class="col-sm-12">
    <%= form_for @person do |person| %>
      <div class="form-group row">
        <%= person.label :name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.text_field :name, class:"form-control", disabled: !@write  %>
        </div>
      </div>

      <div class="form-group row">
        <%= person.label :last_name, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.text_field :last_name, class:"form-control", disabled: !@write %>
        </div>
      </div>

      <div class="form-group row">
        <%= person.label :email, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.text_field :email, class:"form-control", disabled: !@write %>
        </div>
      </div>

      <div class="form-group row">
        <%= person.label :gender, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.radio_button :gender, true, checked: true %>
          <%= person.label :gender_true, :Masculino %>
          <%= person.radio_button :gender, false %>
          <%= person.label :gender_false, :Femenino %>
        </div>
      </div>

      <div class="form-group row">
        <%= person.label :age, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.text_field :age, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <%= person.label :description, class: "col-sm-2 col-form-label" %>
        <div class="col-sm-9">
          <%= person.text_area :description, class:"form-control" %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-9">
          <%= person.submit @title %>
        </div>
      </div>
    <% end %>  
  </div>
</div>  
