<h2><%= "#{@person.name} #{@person.last_name}" %></h2>

<%= form_for @person, url: {action: "update"} do |person| %>
  <%= person.text_field :email %>
  <%= person.text_field :age%>
  <%= person.text_area :description %>
  <%= person.submit "Actualizar" %>
<% end %>
