<h1>Personas</h1>

<div>
  <%= button_tag(type: 'button', class:"btn btn-success" ) do %>
    <%= link_to "Añadir", new_person_path   %>
  <% end %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Detalle</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do  |person| %>
      <tr>
        <td><%= person.id %></td> 
        <td><%= person.name %></td> 
        <td><%= person.last_name %></td> 
        <td><%= link_to "Ver",person_path(person.id)  %></td> 
        <td><%= link_to "E", edit_person_path(person.id)  %></td> 
        <td><%= link_to "X", person_path(person.id), method: :delete, data: {confirm: "Estas seguro?"}  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
