<h1>Personas</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Detalle</th>
      <th>Editar</th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do  |person| %>
      <tr>
        <td><%= person.id %></td> 
        <td><%= person.name %></td> 
        <td><%= person.last_name %></td> 
        <td><%= link_to "Ver", people_show_path(person.id)  %></td> 
        <td><%= link_to "E", people_edit_path(person.id)  %></td> 
      </tr>
    <% end %>
  </tbody>
</table>
