<p id="notice"><%= notice %></p>

<p>
  <strong>Ref:</strong>
  <%= @cosa.ref %>
</p>

<p>
  <strong>Value:</strong>
  <%= @cosa.value %>
</p>

<%= link_to 'Edit', edit_cosa_path(@cosa) %> |
<%= link_to 'Back', cosas_path %>
